* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: #e0e0e0;
    font-family: sans-serif;
    justify-content: center;
}

.contact-form {
    color: #777;
    width: 500px;
    padding: 2.5%;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.contact-form h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact-form .input {
    width: 100%;
    border: none;
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.contact-form .input::placeholder {
    font-size: 15px;
}

.contact-form .submit-btn {
    width: 100%;
    border: none;
    color: #777;
    padding: 15px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 60px #5a5a5a, -20px -20px 60px #ffffff;
}